<h1>POST Request Received</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Lbs</th>
            <th>Actions</th>
        </tr>
    </thead>
	<tbody>
	  {{#each dataList}}
	    <tr>
	    	<form>
	    	<input type="hidden" id="id" value="{{this.id}}" />
	    	<td>{{this.Ename}}</td>
	    	<td>{{this.reps}}</td>
	    	<td>{{this.weight}}</td>
	    	<td>{{this.date}}</td>
	    	<td>{{this.lbs}}</td>
	    	<td>
	    		<input type="submit" value="Edit" />
	    	<td>
	    	</form>
	    	<td>
	    		<form>
	    		<input type="hidden" id="id" value="{{this.id}}" />
	    		<input type="submit" value="Delete" />
	    		</form>
	    	</td>
	    </tr>
	  {{/each}}
	</tbody>
</table>

