<form>
	<fieldset>
        <legend>Enter a Workout set</legend>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{this.Ename}}"><br />
        <label for="reps">Reps</label>
        <input type="text" name="reps" id="reps" value="{{this.reps}}"><br />
        <label for="weight">Weight</label>
        <input type="text" name="weight" id="weight" value="{{this.weight}}"><br />
        <label for="Date">Date</label>
        <input type="text" name="date" id="date" value="{{this.date}}"><br />
        <label for="lbs">Lbs (default is Kg)</label>
        <input type="checkbox" name="lbs" id="lbs" checked={{this.lbs}}><br />
        <input type="submit" id="editSubmit">
	</fieldset>

</form>